.button {

  background-color: rgba(226, 135, 135, 0.753);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:hover {

  color: rgba(226, 135, 135, 0.753);
  background-color: grey;
  transition: background-color 1s, color 2s;
}

.card {

  display: inline-block;
  margin: 10px;
  background-color: rgb(187, 234, 220);

}